body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

h2,
h3,
b,
i {
    color: #666666;
}

table#table1 {
    width: 90%;
    margin: 0 auto;
}

#general_info table {
    border-collapse: collapse;
}

#general_info table td {
    border: 0;
}

#photo img {
    height: 150px;
}

#info,
#motto,
#motto-container {
    padding: 10px;
}

.text-hover {
    padding: 5px;
    cursor: pointer;
}

.text-hover:hover {
    background-color: #eeeeee;
}

#search_wrapper {
    position: relative;
}

#search_wrapper:before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900;
}

#search_wrapper input {
    text-indent: 17px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
}

#search_wrapper i {
    margin-left: 10px;
}

.fa-ul li {
    margin-bottom: 10px;
}

#contact_info {
    padding-left: 100px;
}

#contact_info i {
    font-size: 16px;
}

#motto-container {
    background-color: #eee;
}

.section_row td {
    width: 50%;
    padding: 10px;
    vertical-align: top;
}

.section_header {
    padding: 5px 0;
    border-bottom: 1px solid #dddddd;
}

.section_header i {
    font-size: 18px;
    margin-right: 5px;
}

.section_info.list_info ul {
    border-left: 1px solid #dddddd;
    margin-left: 15px;
    padding-left: 15px;
}

.fa-sad-tear {
    font-size: 28px;
}

.icon_info {
    font-size: 60px;
    text-align: center;
}

.section_overflow {
    max-height: 90px;
    overflow-y: scroll;
}

.bxl_row {
    display: flex;
}

.bxl_col_left p {
    padding: 5px;
    border: 1px solid #dddddd;
    margin-right: 10px;
}

.hidden {
    display: none;
}